<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <style >
		body {
			background-color: #f1f1f1;
			font-family: Arial, sans-serif;
		}
		h1 {
			color: #444;
			text-align: center;
			font-size: 30px;
		}
		p {
			text-align: center;
			font-size: 20px;
			margin-top: 20px;
		}
        a{
            color: #444;
        }
	</style>
</head>
<body>
    <h1>Succesfully logged out.</h1>
    <p><a href="/">click here</a> to go to login page</p>
</body>
</html>